<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="435828278551-52u0bseinkon88eais4ar7p45597v041.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
   <title><%=title%></title>
      <meta name="author" content="VS45 TECHNOLOGIES">
      <meta content="Benue Market, Online Market" name="keywords">
    <meta content="Connect Service Providers and Customers" name="description">

    <!-- Favicon -->
    <link href="/images/benuemkt.png" rel="icon" type="image/png">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    