<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-white" href="">FAQs</a>
                <span class="text-white px-2">|</span>
                <a class="text-white" href="">Help</a>
                <span class="text-white px-2">|</span>
                <a class="text-white" href="">Support</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
                <% if(!isAuthenticated){%>
                   <!--  <a class="text-white pl-2" href="/signup">
                        Register
                    </a> -->
                    <a class="text-white pl-2" href="/login">
                        Login
                    </a>
                    <%}%>
                        <% if(isAuthenticated){%>
                            <a class="text-white pl-2" href="/logout">
                                Logout
                            </a>
                            <%}%>

            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5" style="background: #dcebda;">
        <div class="col-lg-2 d-none d-lg-block">
            <a href="/" class="text-decoration-none">
                <h5 class="m-0 display-5 font-weight-semi-bold"><span
                        class=" font-weight-bold px-3 mr-1" style="color:orangered">Ishan I Jemgbagh</span></h5>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form action="/search-service" method="post">
                <div class="input-group">
                    <select name="location" class="form-select">
                        <option value="">Location..</option>
                        <option value="Ado">Ado</option>
                        <option value="Agatu">Agatu</option>
                        <option value="Apa">Apa</option>
                        <option value="Buruku">Buruku</option>
                        <option value="Gboko">Gboko</option>
                        <option value="Guma">Guma</option>
                        <option value="Gwer East">Gwer East</option>
                        <option value="Gwer West">Gwer West</option>
                        <option value="Katsina-Ala">Katsina-Ala</option>
                        <option value="Konshisha">Konshisha</option>
                        <option value="Kwande">Kwande</option>
                        <option value="Logo">Logo</option>
                        <option value="Makurdi">Makurdi</option>
                        <option value="OBI">OBI</option>
                        <option value="Ogbadibo">Ogbadibo </option>
                        <option value="Ohimini">Ohimini </option>
                        <option value="Oju">Oju </option>
                        <option value="Okpokwu">Okpokwu</option>
                        <option value="Otukpo">Otukpo</option>
                        <option value="Tarka">Tarka</option>
                        <option value="Ukum">Ukum</option>
                        <option value="Ushongo">Ushongo</option>
                        <option value="Vandeikya">Vandeikya</option>
                    </select>
                    <input type="text" name="input" onkeyup="sendData(this)" class="form-control" placeholder="Search for Services or Products" id="input">
                    <button type="submit" class="btn">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                               
                                <i class="fa fa-search"></i>
                            
                            </span>
                        </div>
                    </button>
                    
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <!-- <a href="/create-service" class="btn border">
                <span class="badge">Add Service</span>
            </a>
            <a href="/create-product" class="btn border">
                <span class="badge">Add Product</span>
            </a> -->
        </div>
    </div>
</div>
<!-- Topbar End -->